fieldset, img {
    border: 0em;
}

* {
    box-sizing: border-box;
    margin: 0em;
    padding: 0em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

*+audio, *+blockquote, *+dl, *+fieldset, *+img, *+label, *+old, *+p, *+pre, *+ul, *+video {
    margin-top: 2.4rem;
}

body {
    color: #000;
    font-size: 1.5em;
    line-height: 1.34;
    overflow-x: hidden;
}

.content > header .subtitle, .link--current, .link--current > a, .section__header .subtitle {
    color: blue;
}

html {
    font-size: 62.5%;
}

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
    margin-top: 4rem;
}

.heading, .headline, h1, h2 {
    letter-spacing: -0.01em;
}

.heading, .headline, .subcaption, .subheading, .title, caption, h1, h2, h3, h6 {
    font-weight: 200;
    line-height: 1.2;
}

.subtitle, .subtitle--alt, .title, h3, h4 {
    font-weight: 300;
}

.caption, .checkable-set, input[type=radio] + label, .checkable-set, input[type=checkbox] + label, .subcaption, h5, h6, thead th {
    font-weight: 400;
}

.headline {
    font-size: 4.6rem;
}

.heading, h1 {
    font-size: 3.4rem;
}

.subheading, h2 {
    font-size: 2.6rem;
}

.title, h3 {
    font-size: 2rem;
}

.subtitle, caption, h4 {
    font-size: 1.8rem;
}

.subtitle--alt {
    font-size: 1.6rem;
}

.caption, h5 {
    font-size: 1.2rem;
}

thead th {
    font-size: 1.2rem;
}

.subcaption, h6 {
    font-size: 1rem;
}

@media (min-width: 48em) {
    .headline {
        font-size: 6.2rem;
    }
    
    .heading, h1 {
        font-size: 4.6rem;
    }
    
    .subheading, h2 {
        font-size: 3.4rem;
    }
    
    .title, h3 {
        font-size: 2.4rem;
    }
    
    .subtitle, caption, h4 {
        font-size: 2rem;
    }
    
    .subtitle--alt {
        font-size: 1.8rem;
    }
    
    .caption, h5 {
        font-size: 1.3rem;
    }
    
    .subcaption, h6 {
        font-size: 1.1rem;
    }
}

li, p {
    max-width: 64rem;
}

.footer li, .footer p, .header li, .header p {
    max-width: none;
}

img, video {
    display: inline-block;
    height: auto;
    max-width: 100%;
}

.video-wrap {
    position: relative;
    box-sizing: content-box;
    padding-bottom: 56.25%;
    height: 0;
    max-width: 100%;
    overflow: hidden;
}

.video-wrap--youtube {
    padding-top: 30px;
}

* + .video-wrap {
    margin-top: 1.2rem;
}

@media (min-width: 33.75em) {
    * + .video-wrap {
        margin-top: 2rem;
    }
}

.video-wrap embed, .video-wrap iframe, .video-wrap object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

label {
    display: block;
}

input, select, textarea {
    width: 100%;
    max-width: 64rem;
    height: 3.6rem;
    border: 1px solid hsla(0, 0%, 0%, .6);
    padding: .7rem 1rem;
    background-color: hsla(0, 0%, 100%, .4)
}

textarea {
    height: auto;
    min-height: 3.6rem;
    resize: vertical;
}

label + input:not([type=radio]):not([type=checkbox]), select, textarea {
    margin-top: .7rem;
}

input:hover, select:hover, textarea:hover {
    border-color: hsla(0, 0%, 0%, .8);
    background-color: hsla(0, 0%, 100%, .6)
}

input:focus, select:focus, textarea:focus {
    border-color: #0078d7;
    background-color: #fff;
    outline: 0;
}

input:disabled, input[readonly], textarea:disabled, textarea[readonly] {
    border-color: transparent;
    background-color: hsla(0, 0%, 0%, .2);
    color: hsla(0, 0%, 0%, .2);
}

.button--search:disabled, input[type=radio]:disabled, input[type=checkbox]:disabled, input[type=range]:disabled {
    background: 0;
}

input:invalid, textarea:invalid {
    border-color: #e81123;
}

[type=search], select {
    padding-right: 3.4rem;
}

a.button, button {
    min-width: 12rem;
    max-width: 100%;
    border: 1px solid transparent;
    padding: .7rem 1.2rem;
    background-color: hsla(0, 0%, 0%, .2);
    color: #000;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    text-decoration: none;
}

.button:focus, .button:hover, button:focus, button:hover {
    border-color: hsla(0, 0%, 0%, .4)
}

.button--cta:hover, .button--primary:hover {
    border-color: hsla(0, 0%, 0%, .4)
}

.button--cta:hover, .button--primary:hover {
    background-color: #006cc2;
}

.button:active, button:active {
    border-color: transparent;
    background-color: hsla(0, 0%, 0%, .4);
}

.button--cta:active, .button--primary:active {
    background-color: #005497;
}

button:disabled, select:disabled {
    background-color: hsla(0, 0%, 0%, .2);
    color: hsla(0, 0%, 0%, .2);
    cursor: not-allowed;
    pointer-events: none;
    outline: 0;
}

* + .actions {
    margin-top: .8rem;
}

* + .actions a.button, * + .actions button {
    display: inline-block;
    margin-top: 1.6rem;
}

.button--search:active, .button--search:focus, a.button--cta, a.button--primary, button.button--cta, button.button--primary {
    background-color: #0078d7;
    color: #fff;
}

.button--icon, button--icon:active, .button--icon:hover, .button--icon[disabled], .button--search, .button--text, .button--text:active, .button--text:hover, .button--text[disabled] {
    padding: 0;
    border: 0;
    background: 0 0;
}

.button--icon, .button--icon:active, .button--icon:hover, .button--icon[disabled], .button--search {
    min-width: 0;
}

.button-text {
    text-align: inherit;
}

.button--text + .button--text {
    margin-left: 1.2rem;
}

.button--text:active {
    text-decoration: none;
}

.feature .button--cta:hover, .placement .button-cta:hover, .placement:hover .placement_title {
    text-decoration: underline;
}

.button--icon {
    height: 2rem;
    position: relative;
    text-indent: 100%;
    width: 4.4rem;
}

.button--icon::before {
    display: block;
    font-size: 2rem;
    height: 100%;
    left: 0;
    line-height: 1;
    position: absolute;
    text-indent: 0;
    top: 0;
    width: 100%;
}

[role=search], main {
    position: relative;
}

.button--icon:hover {
    color: hsla(0, 0%, 0%, .6);
}

.button--icon:active {
    color: hsla(0, 0%, 0%, .4);
}

.button--search {
    color: #7f7f7f;
    font-size: 1.6rem;
    height: 100%;
    position: absolute;
    transform: translate(-100%);
    width: 3.4rem;
}

.button--search::before {
    content: "\e721";
    font-family: PlatformIcons;
}

.accordion__toggle::after, [class *= icon--]::after, [class*=icon--]::before, a.button--cta::after, summary::after {
    font-family: PlatformIcons;
}

button.button--warning {
    background-color: #e81123;
    color: #fff;
}

a.button--cta {
    border-width: 2px;
    font-size: 1.3rem;
    letter-spacing: .1em;
    padding: .85rem 2.4rem;
    text-transform: uppercase;
}

a.button--cta::after {
    content: "\e76c";
    display: inline-block;
    margin: .1rem 0 0 .4rem;
    vertical-align: top;
}

select {
    appearance: none;
    border-radius: 0;
    background: url() right 1rem center/1.4rem .8rem no-repeat;
    overflow: hidden;
    text-indent: .01px;
}

select option:checked, select option:focus {
    background-color: #3a96dd;
    color: #fff;
}

select option, select:active {
    background-color: #fff;
    color: #000;
}

select option:active {
    background-color: #767676;
    color: #000;
}

select:disabled {
    border-color: hsla(0, 0%, 0%, .2);
    color: hsla(0, 0%, 0%, .6);
}

input[type=radio], input[type=checkbox] {
    height: 2rem;
    line-height: 2rem;
    position: absolute;
    width: 2rem;
}

input[type=radio] + label, input[type=checkbox] + label {
    display: table;
    padding-left: 3.2rem;
}

input[type=radio] + label::after, input[type=checkbox] + label::after {
    content: "";
    display: block;
}

.checkable-set input[type=radio], .checkable-set input[type=radio] + label, .checkable-set input[type=checkbox], .checkable-set input[type=checkbox] + label {
    margin-top: 1.2rem;
}

input[type=file] {
    border: 0;
    height: auto;
    outline: 0;
    padding-left: 0;
    padding-right: 0;
}

progress {
    border: 0;
    color: #0078d7;
    display: block;
    height: .4rem;
    width: 100%;
}

.breadcrumb ul, thead th {
    color: hsla(0, 0%, 0%, .6);
}

progress[value] {
    background-color: hsla(0, 0%, 0%, .2);
}

main {
    dispaly: block;
    margin: 0 auto 4.8rem;
}

hr {
    background: hsla(0, 0%, 0%, .2);
    border: 0;
    display: block;
    height: 1px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.container, hr {
    max-width: 144rem;
}

.section, hr {
    margin-top: 4.8rem;
}

* + .subsection, .content > header + .section, .section__header + .section__body, .subsection__body {
    margin-top: 2.4rem;
}

.content > header:first-child, main > .section:first-child {
    margin-top: 1.2rem;
}

.subsection__header {
    display: block;
}

[class$=header--alt] {
    border-bottom: 1px solid hsla(0, 0%, 0%, .2);
    padding-bottom: 1rem;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}

.container .container, .container hr {
    width: auto;
}

.container hr {
    margin-left: 0em;
    margin-right: 0em;
}

@media (min-width: 48em) {
    main {
        margin-bottom: 6rem;
    }
    
    .container > header, .section, hr {
        margin-top: 6rem;
    }
    
    * + .subsection, .content > header + .section, .section__header + .section__body, .subsection__body {
        margin-top: 3.2rem;
    }
}

@media (min-width: 58em) {
    .content > header:first-child, main > .section:first-child {
        margin-top: 6.4rem;
    }
    
    * + .subsection, .content > header + .section {
        margin-top: 4.8rem;
    }
    
    .container, hr {
        margin-left: auto;
        margin -right: auto;
        padding-left: 0em;
        padding-right: 0em;
        width: 90%;
    }
}

.container::after, .layout::after, module::after {
    clear: both;
    content: "";
    display: block;
}

.layout {
    margin-left: 0em;
    margin-right: 0em;
}

.module {
    margin-top: 2.4rem;
    width: 100%;
}

.module:first-child {
    margin-top: 0em;
}

.layout--equal .module:nth-last-child(1):first-child {
    margin-top: 2.4rem;
}

@media (min-width: 33.75em) {
    .layout {
        margin-left: -1.2rem;
        margin-right: -1.2rem;
    }
    
    .module {
        float: left;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }
}

@media (min-width: 48em) {
    .layout {
        margin-left: -1.6rem;
        margin-right: -1.6rem;
    }
    
    .module {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
    }
    
    .module--primary, .module--secondary {
        float: left;
        margin-top: 0em;
        width: 50%;
    }
    
    .layout--basic .module--primary, .layout--basic--alt .module--secondary, .layout--basic--offset .module--primary, .layout--basic--offset--alt .module--secondary {
        float: right;
    }
}
    
