fieldset, img {
    border: 0em;
}

* {
    box-sizing: border-box;
    margin: 0em;
    padding: 0em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

*+audio, *+blockquote, *+dl, *+fieldset, *+img, *+label, *+old, *+p, *+pre, *+ul, *+video {
    margin-top: 2.4rem;
}

body {
    color: #000;
    font-size: 1.5em;
    line-height: 1.34;
    overflow-x: hidden;
}

.content > header .subtitle, .link--current, .link--current > a, .section__header .subtitle {
    color: blue;
}

html {
    font-size: 62.5%;
}

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
    margin-top: 4rem;
}

.heading, .headline, h1, h2 {
    letter-spacing: -0.01em;
}

.heading, .headline, .subcaption, .subheading, .title, caption, h1, h2, h3, h6 {
    font-weight: 200;
    line-height: 1.2;
}

.subtitle, .subtitle--alt, .title, h3, h4 {
    font-weight: 300;
}

.caption, .checkable-set, input[type=radio] + label, .checkable-set, input[type=checkbox] + label, .subcaption, h5, h6, thead th {
    font-weight: 400;
}

.headline {
    font-size: 4.6rem;
}

.heading, h1 {
    font-size: 3.4rem;
}

.subheading, h2 {
    font-size: 2.6rem;
}

.title, h3 {
    font-size: 2rem;
}

.subtitle, caption, h4 {
    font-size: 1.8rem;
}

.subtitle--alt {
    font-size: 1.6rem;
}

.caption, h5 {
    font-size: 1.2rem;
}

thead th {
    font-size: 1.2rem;
}

.subcaption, h6 {
    font-size: 1rem;
}

@media (min-width: 48em) {
    .headline {
        font-size: 6.2rem;
    }
    
    .heading, h1 {
        font-size: 4.6rem;
    }
    
    .subheading, h2 {
        font-size: 3.4rem;
    }
    
    .title, h3 {
        font-size: 2.4rem;
    }
    
    .subtitle, caption, h4 {
        font-size: 2rem;
    }
    
    .subtitle--alt {
        font-size: 1.8rem;
    }
    
    .caption, h5 {
        font-size: 1.3rem;
    }
    
    .subcaption, h6 {
        font-size: 1.1rem;
    }
}

li, p {
    max-width: 64rem;
}

.footer li, .footer p, .header li, .header p {
    max-width: none;
}

img, video {
    display: inline-block;
    height: auto;
    max-width: 100%;
}

.video-wrap {
    position: relative;
    box-sizing: content-box;
    padding-bottom: 56.25%;
    height: 0;
    max-width: 100%;
    overflow: hidden;
}

.video-wrap--youtube {
    padding-top: 30px;
}

* + .video-wrap {
    margin-top: 1.2rem;
}

@media (min-width: 33.75em) {
    * + .video-wrap {
        margin-top: 2rem;
    }
}

.video-wrap embed, .video-wrap iframe, .video-wrap object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

label {
    display: block;
}

input, select, textarea {
    width: 100%;
    max-width: 64rem;
    height: 3.6rem;
    border: 1px solid hsla(0, 0%, 0%, .6);
    padding: .7rem 1rem;
    background-color: hsla(0, 0%, 100%, .4)
}

textarea {
    height: auto;
    min-height: 3.6rem;
    resize: vertical;
}

label + input:not([type=radio]):not([type=checkbox]), select, textarea {
    margin-top: .7rem;
}

input:hover, select:hover, textarea:hover {
    border-color: hsla(0, 0%, 0%, .8);
    background-color: hsla(0, 0%, 100%, .6)
}

input:focus, select:focus, textarea:focus {
    border-color: #0078d7;
    background-color: #fff;
    outline: 0;
}

input:disabled, input[readonly], textarea:disabled, textarea[readonly] {
    border-color: transparent;
    background-color: hsla(0, 0%, 0%, .2);
    color: hsla(0, 0%, 0%, .2);
}

.button--search:disabled, input[type=radio]:disabled, input[type=checkbox]:disabled, input[type=range]:disabled {
    background: 0;
}

input:invalid, textarea:invalid {
    border-color: #e81123;
}

[type=search], select {
    padding-right: 3.4rem;
}

a.button, button {
    min-width: 12rem;
    max-width: 100%;
    border: 1px solid transparent;
    padding: .7rem 1.2rem;
    background-color: hsla(0, 0%, 0%, .2);
    color: #000;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    text-decoration: none;
}

.button:focus, .button:hover, button:focus, button:hover {
    border-color: hsla(0, 0%, 0%, .4)
}

.button--cta:hover, .button--primary:hover {
    border-color: hsla(0, 0%, 0%, .4)
}

.button--cta:hover, .button--primary:hover {
    background-color: #006cc2;
}

.button:active, button:active {
    border-color: transparent;
    background-color: hsla(0, 0%, 0%, .4);
}

.button--cta:active, .button--primary:active {
    background-color: #005497;
}

button:disabled, select:disabled {
    background-color: hsla(0, 0%, 0%, .2);
    color: hsla(0, 0%, 0%, .2);
    cursor: not-allowed;
    pointer-events: none;
    outline: 0;
}

* + .actions {
    margin-top: .8rem;
}

* + .actions a.button, * + .actions button {
    display: inline-block;
    margin-top: 1.6rem;
}

.button--search:active, .button--search:focus, a.button--cta, a.button--primary, button.button--cta, button.button--primary {
    background-color: #0078d7;
    color: #fff;
}

.button--icon, button--icon:active, .button--icon:hover, .button--icon[disabled], .button--search, .button--text, .button--text:active, .button--text:hover, .button--text[disabled] {
    padding: 0;
    border: 0;
    background: 0 0;
}

.button--icon, .button--icon:active, .button--icon:hover, .button--icon[disabled], .button--search {
    min-width: 0;
}

.button-text {
    text-align: inherit;
}

.button--text + .button--text {
    margin-left: 1.2rem;
}

.button--text:active {
    text-decoration: none;
}

.feature .button--cta:hover, .placement .button-cta:hover, .placement:hover .placement_title {
    text-decoration: underline;
}

.button--icon {
    height: 2rem;
    position: relative;
    text-indent: 100%;
    width: 4.4rem;
}

.button--icon::before {
    display: block;
    font-size: 2rem;
    height: 100%;
    left: 0;
    line-height: 1;
    position: absolute;
    text-indent: 0;
    top: 0;
    width: 100%;
}

[role=search], main {
    position: relative;
}

.button--icon:hover {
    color: hsla(0, 0%, 0%, .6);
}

.button--icon:active {
    color: hsla(0, 0%, 0%, .4);
}

.button--search {
    color: #7f7f7f;
    font-size: 1.6rem;
    height: 100%;
    position: absolute;
    transform: translate(-100%);
    width: 3.4rem;
}

.button--search::before {
    content: "\e721";
    font-family: PlatformIcons;
}

.accordion__toggle::after, [class *= icon--]::after, [class*=icon--]::before, a.button--cta::after, summary::after {
    font-family: PlatformIcons;
}

button.button--warning {
    background-color: #e81123;
    color: #fff;
}

a.button--cta {
    border-width: 2px;
    font-size: 1.3rem;
    letter-spacing: .1em;
    padding: .85rem 2.4rem;
    text-transform: uppercase;
}

a.button--cta::after {
    content: "\e76c";
    display: inline-block;
    margin: .1rem 0 0 .4rem;
    vertical-align: top;
}

select {
    appearance: none;
    border-radius: 0;
    background: url() right 1rem center/1.4rem .8rem no-repeat;
    overflow: hidden;
    text-indent: .01px;
}

select option:checked, select option:focus {
    background-color: #3a96dd;
    color: #fff;
}

select option, select:active {
    background-color: #fff;
    color: #000;
}

select option:active {
    background-color: #767676;
    color: #000;
}

select:disabled {
    border-color: hsla(0, 0%, 0%, .2);
    color: hsla(0, 0%, 0%, .6);
}

input[type=radio], input[type=checkbox] {
    height: 2rem;
    line-height: 2rem;
    position: absolute;
    width: 2rem;
}

input[type=radio] + label, input[type=checkbox] + label {
    display: table;
    padding-left: 3.2rem;
}

input[type=radio] + label::after, input[type=checkbox] + label::after {
    content: "";
    display: block;
}

.checkable-set input[type=radio], .checkable-set input[type=radio] + label, .checkable-set input[type=checkbox], .checkable-set input[type=checkbox] + label {
    margin-top: 1.2rem;
}

input[type=file] {
    border: 0;
    height: auto;
    outline: 0;
    padding-left: 0;
    padding-right: 0;
}

progress {
    border: 0;
    color: #0078d7;
    display: block;
    height: .4rem;
    width: 100%;
}

.breadcrumb ul, thead th {
    color: hsla(0, 0%, 0%, .6);
}

progress[value] {
    background-color: hsla(0, 0%, 0%, .2);
}

main {
    display: block;
    margin: 0 auto 4.8rem;
}

hr {
    background: hsla(0, 0%, 0%, .2);
    border: 0;
    display: block;
    height: 1px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.container, hr {
    max-width: 144rem;
}

.section, hr {
    margin-top: 4.8rem;
}

* + .subsection, .content > header + .section, .section__header + .section__body, .subsection__body {
    margin-top: 2.4rem;
}

.content > header:first-child, main > .section:first-child {
    margin-top: 1.2rem;
}

.subsection__header {
    display: block;
}

[class$=header--alt] {
    border-bottom: 1px solid hsla(0, 0%, 0%, .2);
    padding-bottom: 1rem;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}

.container .container, .container hr {
    width: auto;
}

.container hr {
    margin-left: 0em;
    margin-right: 0em;
}

@media (min-width: 48em) {
    main {
        margin-bottom: 6rem;
    }
    
    .container > header, .section, hr {
        margin-top: 6rem;
    }
    
    * + .subsection, .content > header + .section, .section__header + .section__body, .subsection__body {
        margin-top: 3.2rem;
    }
}

@media (min-width: 58em) {
    .content > header:first-child, main > .section:first-child {
        margin-top: 6.4rem;
    }
    
    * + .subsection, .content > header + .section {
        margin-top: 4.8rem;
    }
    
    .container, hr {
        margin-left: auto;
        margin -right: auto;
        padding-left: 0em;
        padding-right: 0em;
        width: 90%;
    }
}

.container::after, .layout::after, module::after {
    clear: both;
    content: "";
    display: block;
}

.layout {
    margin-left: 0em;
    margin-right: 0em;
}

.module {
    margin-top: 2.4rem;
    width: 100%;
}

.module:first-child {
    margin-top: 0em;
}

.layout--equal .module:nth-last-child(1):first-child {
    margin-top: 2.4rem;
}

@media (min-width: 33.75em) {
    .layout {
        margin-left: -1.2rem;
        margin-right: -1.2rem;
    }
    
    .module {
        float: left;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }
}

@media (min-width: 48em) {
    .layout {
        margin-left: -1.6rem;
        margin-right: -1.6rem;
    }
    
    .module {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
    }
    
    .module--primary, .module--secondary {
        float: left;
        margin-top: 0em;
        width: 50%;
    }
    
    .layout--basic .module--primary, .layout--basic--alt .module--secondary, .layout--basic--offset .module--primary, .layout--basic--offset--alt .module--secondary {
        float: right;
    }
}
    
@media (min-width: 60em) {
    .layout--basic .module--primary, .layout--basic--alt .module--primary {
        width: 62.5%;
    }
    
    .layout--basic .module--secondary, .layout--basic--alt .module--secondary {
        width: 33.333%;
    }
    
    .layout--basic--offset .module-primary, .layout-basic--offset-alt .module--primary {
        width: 58.33%;
    }
    
    .layout--basic--offset .module--secondary, .layout--basic--offset--alt .module--secondary {
        width: 37.5%;
    }
}

@media (min-width: 48em) {
    [class *= layout--sidebar] > .module {
        margin-top: 0em;
    }
    
    [class *= layout--sidebar] > .module--secondary {
        width: 22rem;
    }
    
    [class *= layout--sidebar] > .module--primary {
        width: calc(100% - 26rem);
    }
    
    .layout--sidebar > .module--primary {
        float: right;
    }
    
    .layout--sidebar--alt > .module--primary {
        float: left;
    }
    
    .layout--sidebar--alt > .module--secondary {
        float: right;
    }
}

@media (min-width: 64em) {
    [class *= layout--sidebar] > .module--secondary {
        width: 28rem;
    }
    
    [class *= layout--sidebar] > .module--primary {
        width: calc(100% - 34rem);
    }
}

@media (min-width: 33.75em) {
    .layout--equal .module:nth-last-child(2):first-child, .layout--equal .module:nth-last-child(2):first-child ~ .module {
        margin-top : 0em;
        width: 50%;
    }
}

@media (min-width: 60em) {
    .layout--equal .module:nth-last-child(3):first-child, .layout--equal .module:nth-last-child(3):first-child ~ .module {
        margin-top: 0em;
        width: 33.33%;
    }
    
    .layout--equal .module:nth-last-child(4):first-child, .layout--equal .module:nth-last-child(4):first-child ~ .module {
        margin-top: 0em;
        width: 25%;
    }
}

@media (min-width: 33.75em) and (max-width: 60em) {
    .layout--equal .module:nth-last-child(3):first-child ~ .module {
        margin-top: 3.2rem;
    }
    
    .layout--equal .module:nth-last-child(4):first-child, .layout--equal .module:nth-last-child(4):first-child ~ .module {
        margin-top: 3.2rem;
        width: 50%;
    }
    
    .layout--equal .module:nth-last-child(4):first-child ~ .module:nth-child(3) {
        clear: left;
    }
    
    .layout--equal .module:nth-last-child(3):first-child, .layout--equal .module:nth-last-child(4):first-child, .layout--equal .module:nth-last-child(4):first-child ~ .module:nth-child(2) {
        margin-top: 0em;
    }
}

@media (min-width: 33.75em) {
    .layout--halves .module, .layout--thirds .module {
        margin-top: 3.2rem;
        width: 50%;
    }
    
    .layout--halves .module:nth-child(-n + 2), .layout--thirds .module:nth-child(-n + 2) {
        margin-top: 0em;
    }
    
    .layout--halves .module:nth-child(odd), .layout--thirds .module:nth-child(odd) {
        clear: left;
    }
}

@media (min-width: 60em) {
    .layout--equal .module:nth-last-child(1):first-child {
        width: 50%;
    }
    
    .layout--thirds .module {
        width: 33.33%;
    }
    
    .layout--quarters .module {
        width: 25%;
    }
    
    .layout--quarters .module:nth-child(-n + 4), .layout--thirds .module:nth-child(-n + 3) {
        margin-top: 0em;
    }
    
    .layout--thirds .module:nth-child(odd) {
        clear: none;
    }
    
    .layout--quarters .module:nth-child(4n + 1), .layout--thirds .module:nth-child(3n + 1) {
        clear: left;
    }
}

@media (min-width: 33.75em) and (max-width: 60em) {
    .layout--thirds .module {
        margin-top: 3.2rem;
    }
    
    .layout--quarters .module {
        margin-top: 3.2rem;
        width: 50%;
    }
    
    .layout--thirds .module:nth-child(-n + 2) .layout--quarters .module:nth-child(-n + 2) {
        margin-top: 0em;
    }
    
    .layout-quarters .module:nth-child(odd) {
        clear: left;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0em;
    width: 100%;
}

caption, th {
    text-align: left;
}

td, th {
    padding: 1rem 1.2rem;
    vertical-align: top;
}

thead th {
    vertical-align: bottom;
}

tbody tr:nth-child(odd) {
    background-color: hsla(0, 0%, 0%, .05);
}

.table--overflow {
    overflow-x: auto;
    width: 100%;
}

* + table--overflow {
    margin-top: 2.4rem;
}

.cell--numerical {
    text-align: right;
}

ol, ul {
    margin-left: 1.9rem;
}

* + li {
    margin-top: 1.6rem;
}

.list--avatars, nav ol, nav ul {
    list-style: none;
    margin-left: 0;
}

.avatar {
    border-radius: 50%;
    display: inline-block;
    height: auto;
    overflow: hidden;
    width: 4.8rem;
}

avatar img {
    display: block;
}

.list--avatars {
    margin-left: -1.2rem;
}

.list--avatars > li {
    display: inline-block;
    margin: 0 0 1.2rem 1.2rem;
}

.rendered-result, pre {
    overflow-x: auto;
    padding: 2.4rem;
    width: 100%;
}

pre {
    background: hsla(0, 0%, 0%, .03);
    border: 2px solid hsla(0, 0%, 0%, .03);
}

.rendered-result {
    border: 2px solid hsla(0, 0%, 0%, .1);
}

* + .rendered-result {
    margin-top: 2.4rem;
}

code {
    font-family: Consolas, Menlo, monospace;
    tab-size: 4;
}

.gist-file {
    border-bottom: 2px solid #ddd;
    border-width: 2px;
}

.gist-data {
    border-bottom-width: 2px;
}

.visually-hidden {
    clip: rect(0, 0, 0, 0);
    position: absolute;
}

.clear::after {
    clear: both;
    content: "";
    display: block;
}

.bare {
    margin-left: 0em;
}

.breadcrumb {
    margin-top: 1.2rem;
}
.breadcrumb + header {
    margin-top: 1.6rem;
}

.breadcrumb li {
    display: inline;
    font-size: 1.3rem;
    margin-right: 0.8rem;
}

.breadcrumb li + li::before {
    content: "\\";
    font-size: 1.5rem;
    margin-right: 0.8rem;
}

@media (min-width: 58em) {
    .breadcrumb + header {
        margin-top: 2.2rem;
    }
}

.feature, .hero {
    background: #e6e6e6;
    text-align: center;
}

.feature__text, .hero__container {
    margin: 0 auto;
    padding: 3.2rem 0;
    width: 90%;
}

.feature img, .feature picture, .feature__container, .hero img, .hero picture, .hero__bg {
    width: 100%;
}

.feature__title, .hero_title {
    font-size: 2rem;
    font-weight: 200;
    line-height: 1.2px;
}

.feature--dark, .hero--dark {
    background: #333;
    color: #fff;
}

@media (min-width: 48em) {
    .feature, .hero {
        overflow: hidden;
        position: relative;
        text-align: left;
    }
    
    .feature__container, .hero.theme-dark .hero__bg::before, .hero__bg, .hero__bg picture, .hero__container {
        bottom: 0em;
        left: 0em;
        position: absolute;
        right: 0em;
        top: 0em;
    }
    
    .feature__container, .hero_container {
        height: 100%;
        margin: 0 auto;
        max-width: 144rem;
        padding: 0em;
    }
    
    .feature__media, .feature__text, .hero__bg img, .hero__content, .hero__media, .hero__text {
        position: relative;
        top: 50%;
        transform: perspective(1px) translateY(-50%);
    }
    
    .feature__title, .hero__title {
        font-size: 2.4rem;
        line-height: 1.17px;
    }
}

@media (min-width: 67.75em) {
    .feature__title, .hero__title {
        font-size: 3.4rem;
        font-weight: 100px;
    }
}

.hero img {
    margin-top: 0em;
}

.hero__subtitle {
    margin-top: 0.8rem;
}

.hero .button--cta {
    background: #000;
    margin-top: 2.4rem;
}

.hero .button--cta:hover {
    background: #333;
}

.hero .button--cta:active {
    background: #666;
    border-color: transparent;
}

.hero--dark .button--cta {
    background: #fff;
    color: #000;
}

.hero--dark .button--cta:hover {
    background: #ccc;
    border-color: #fff;
}

.hero--dark .button--cta:active {
    background: #999;
}

@media (min-width: 48em) {
    .hero {
        padding: 56.25% 5% 0;
    }
    
    .hero__content {
        max-width: 44rem;
        position: relative;
        z-index: 3;
    }
    
    .hero__subtitle {
        font-size: 1.8rem;
        font-weight: 200;
        line-height: 1.333;
    }
    
    .hero__bg picture {
        height: 100%;
    }
    
    .hero--dark .hero__bg::before {
        background: hsla(0, 0%, 0%, 0.4);
        content: "";
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
    }
    
    .hero__media, .hero__text {
        width: 50%;
    }
    
    .hero__media {
        float: right;
        padding-left: 1.6rem;
    }
    
    .hero__text {
        float: left;
        padding-right: 1.6rem;
    }
}

@media (min-width: 67.75em) {
    .hero {
        padding-top: 37.5%;
    }
    
    .hero__content {
        max-width: 52rem;
    }
    
    .hero__media {
        padding-left: 3.2rem;
    }
    
    .hero__text {
        padding-right: 3.2.rem;
    }
}

.feature__media img, .feature__media picture {
    display: block;
}

.feature__text {
    padding: 2.4rem 0;
}

.feature .button--cta {
    margin-top: 1.2rem;
    padding-left: 0em;
}

.feature .button--cta, .feature .button-cta:active, .feature .button-cta:hover {
    background: 0 0;
    border-color: transparent;
    color: #000;
}

.feature--dark a.button--cta {
    color: #fff;
}

@media (min-width: 48em) {
    .feature {
        max-height: 40rem;
        padding-top: 30.8%;
    }
    
    .feature__media, .feature__text {
        width: 50%;
    }
    
    .feature__media {
        float: right;
        max-width: 64.8rem;
    }
    
    .feature__text {
        float: left;
        margin: 0em;
        padding: 0 3.6rem;
    }
    
    .feature:nth-last-of-type(odd) .feature__media {
        float: left;
    }
    
    .feature:nth-last-of-type(odd) .feature__text {
        float: right;
    }
}

@media (min-width: 81em) {
    .feature {
        height: 40rem;
        padding: 0em;
    }
}

.placement {
    position: relative;
}

.placement__title {
    margin-top: 1.2rem;
}

.placement__text {
    margin-top: 0.4rem;
}

.placement .button--cta {
    padding-left: 0em;
}

.placement .button--cta, .placement .button--cta:active, .placement .button--cta:hover {
    background: 0 0;
    border: 0;
    color: #0078d7;
}

.placement .button--cta::before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.form-search {
    position: relative;
}

.form-search input[type=search] {
    background: #fff;
    border: 1px solid #a9a9a9;
    height: 3.6rem;
    margin: 0.7rem 0;
    padding: 0.4rem 3.3rem 0.4rem 0.8rem;
}

.button-search, .header__toggle {
    border: 0;
    line-height: 1;
    min-width: 0em;
    padding: 1.35rem 1.15rem;
    position: absolute;
    top: 0;
}

.button-search {
    background: 0;
    color: #7f7f7f;
    font-size: 1.7rem;
    height: 100%;
    margin: 0em;
    right: 0em;
}

.button-search::hover, input[type=search].search-active ~ .button-search:hover {
    color: #0072c6;
}

.button-search::before {
    content: "\e721";
}

.nav-bar {
    display: flex;
    margin: 0em auto;
}

.header__logo a {
    background-size: 100%;
    float: left;
    height: 5rem;
    overflow: hidden;
    text-indent: -100%;
    width: 10.8rem;
}

.header__form-search {
    left: 10.8rem;
    margin: 0 2.4rem;
    position: absolute;
    right: 3.4rem;
}

.header__form-search input[type=search] {
    visisbility: collapse;
}

.header__form-search .button-search {
    font-size: 2.1rem;
}

.header__form-search .button-search::focus, .header__form-search .button-search:hover {
    background-color: hsla(0, 0%, 0%, 0.05);
    outline: 0;
}

.header__form-search input[type=search].search-active {
    visibility: visible;
}

.header__form-search input[type=search].search-active ~ .button-search {
    font-size: 1.7rem;
}

.header__toggle {
    background: 0;
    font-size: 2.1rem;
    margin: 0em;
    right: 0em;
}

.header__toggle:focus, .header__toggle:hover {
    background-color: hsla(0, 0%, 0%, 0.05);
    outline: 0;
}

@media (min-width: 58em) {
    .header__form-search input[type=search] {
        margin: 0.7rem 1rem;
        width: 27.4rem;
        visibility: visible;
    }
    
    .header__form-search .button-search {
        font-size: 1.7rem;
        right: 1rem;
    }
    
    .header__form-search .button-search:hover {
        background: 0;
    }
    
    .header__toggle {
        display: none;
    }
}

.nav, .navbar__submenu {
    background-color: #0078d7;
}

.nav {
    margin: 0em;
    width: 100%;
}

.nav--global {
    flex: 1;
    float: left;
    margin: 0 1.4rem;
}

.nav_navbar {
    display: none;
    list-style-type: none;
    margin: 0 auto;
    max-width: 144rem;
}

@media (max-width: 57.94em) {
    .nav {
        position: absolute;
        z-index: 10;
    }
    
    .nav__navbar.show {
        display: block;
        padding-bottom: 0.8rem;
    }
}

@media (min-width: 58em) {
    .nav__navbar {
        dispaly: block;
        width: 90%;
    }
    
    .nav--global .nav_navbar {
        width: 100%;
    }
    
    .nav_navbar > li {
        float: left;
    }
}

.edge-wordmark {
    font-size: 2rem;
    letter-spacing: 0;
}

.navbar__navitem {
    margin: 0em;
}

.nav__navbar a {
    color: #fff;
    display: block;
    padding: 1.2rem 1rem;
}

.nav-bar a {
    color: #000;
    display: block;
}

.user-account {
    position: relative;
}

.user-account > a, a.user-account {
    color: #505050;
    display: none;
    font-size: 1.2rem;
    line-height: 4.7rem;
    margin-top: 0em;
    padding: 0 1rem;
}

.user-account .navitem__button .avatar {
    margin-left: 1.8rem;
    vertical-align: middle;
    width: 3.6rem;
}

.user-info .avatar {
    float: left;
    margin-right: 1.5rem;
    width: 10rem;
}

.user-info .full-name {
    color: #000;
    font-size: 2.1rem;
    font-weight: 300px;
    line-height: 1;
}

.full-name .surname {
    display: block;
    line-height: 1.3;
}

.user-info .email {
    color: hsla(0, 0%, 0%, 0.5);
}

.user-account .navitem__button {
    padding-bottom: 0.3rem;
}

.user-account .navitem__button::after {
    content: "";
}

.user-account .navbar__submenu {
    right: 0;
    width: 35rem;
}

.header .navitem__button:focus, .header .navitem__button:hover, .navbar__navitem .edge-wordmark a:focus, .navbar__navitem .edge-wordmark a:hover {
    text-decoration: none;
}

.navitem__button::after {
    content: "\e70d";
    margin-left: 0.4rem;
}

.navbar__submenu {
    list-style-type: none;
    margin: 0em;
}

.nav-bar .navbar__submenu {
    background-color: #f2f2f2;
}

.navbar__navitem a {
    transition: background-color ease-out 0.5s;
    white-space: nowrap;
}

.navbar__navitem a:focus, .navbar__navitem a:hover, a.user-account:focus {
    background-color: hsla(0, 0%, 0%, 0.1);
    outline: 0;
    text-decoration: underline;
    transition: none;
}

a.user-account:focus {
    text-decoration: none;
}

.navbar__navitem a[aria-expanded=true], .navbar__navitem li {
    background-color: hsla( 0,0%, 0%, 0.2);
    margin: 0em;
}

.nav-bar .navbar__navitem li {
    background: 0 0;
}

.nav-bar .navbar__navitem a:hover, .nav-bar .navbar__navitem a[aria-expanded=true], nav-bar .navbar__navitem li a:hover, a.user-account:hover {
    background-color: hsla(0, 0%, 0%, 0.05);
}

@media (min-width: 33.75em) {
    .form-search {
        left: 0;
        margin: 0em;
        position: relative;
    }
    
    .header__toggle {
        position: static;
    }
    
    .user-account a, a.user-account {
        display: block;
    }
}

@media (min-width: 56.2em) {
    .nav__navbar a {
        padding: 2.4rem 2.25rem;
    }
    
    .nav--global a {
        padding: 1.4rem 2.25rem;
    }
    
    .edge-wordmark a {
        margin-left: -2.25rem;
        padding: 2.1rem 2.25rem 2.4rem;
    }
    
    .navbar__submenu {
        min-width: 27rem;
        position: absolute;
        z-index: 10;
    }
    
    .navbar__submenu a, .user-info {
        padding: 1.5rem 2.25rem;
    }
    
    .navbar__submenu li:list-of-type {
        padding-bottom: 0.8rem;
    }
}

.navbar__submenu .navitem__button::after {
    line-height: 2.25rem;
    position: absolute;
    right: 2.25rem;
    transform: rotate(-90deg);
}

.navbar__submenu .navbar__submenu  {
    background-image: linear-gradient(hsla(0, 0%, 0%, 0.05), hsla(0, 0%, 0%, 0.05));
    bottom: 0;
    left: 100%;
    position: absolute;
    top: 0;
}

dt {
    font-weight: 700;
}

.visually-hidden + *, dt + dd {
    marign-top: 0em;
}

[aria-hidden=true] {
    display: none;
}

@media (min-width: 58em) {
    main > .hero--brand:first-child, main > .hero--brand:first-child + .linkband {
        background: #004e8c;
    }
}

.long-string--shorten {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    vertical-align: bottom;
    white-space: nowrap;
}

[class$=header--alt] {
    max-width: none;
}

.tablist--mini [role=tab], .tablist--mini [role=tab][aria-selected=true] {
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1.6rem;
}

@media (min-width: 48em) {
    .tablist--mini li {
        margin-top: 1px;
    }
}

.content > header .subtitle {
    margin-top: 1.2rem;
}

body {
    background: #f7f7f7;
}

.bg-wrap {
    background: #fff;
    padding-bottom: 1px;
}

content > header, .section--page-intro .section__header {
    position: relative;
}

.page-intro__button--page-primary {
    margin-top: 3.2rem;
}

@media (min-width: 60em) {
    .page-intro__button--page-primary {
        margin-top: -2.8rem;
        position: absolute;
        right: 0;
        top: 50%;
    }
}

.field-help, .form__help-text {
    margin-top: 0.8rem;
}

@media (min-width: 33.75em) and (max-width: 48em) {
    .layout--fifths .module {
        width: 50%;
    }
    
    .layout--fifths .module:nth-child(-n + 2) {
        margin-top: 0em;
    }
    
    .layout--fifths .module:nth-child(2n + 1) {
        clear: left;
    }
}

@media (min-width: 48em) and (max-width: 64em) {
    .layout--fifths .module {
        width: 33%;
    }
    
    .layout--fifths .module:nth-child(-n + 3) {
        margin-top: 0em;
    }
    
    .layout--fifths .module:nth-child(3n + 1) {
        clear: left;
    }
}

@media (min-width: 64em) {
    .layout--fifths .module {
        width: 20%;
    }
    
    .layout--fifths .module-nth-child(-n + 5) {
        margin-top: 0em;
    }
    
    .layout--fifths .module:nth-child(5n + 1) {
        clear: left;
    }
}

.demo-card__date, .demo-card__description, .demo-card__title {
    margin-top: 1.2rem;
}

@media (min-width: 48em) {
    .demo-card {
        margin-top: 4rem;
    }
}

.list--browser-icons {
    margin-left: 0em;
}

.list--browser-icons li {
    display: inline-block;
    height: 30px;
    margin: 0px 4px;
    overflow: hidden;
    white-space: nowrap;
    width: 30px;
}

.list--browser-icons li a {
    display: block;
    height: 100%;
}

.codepen-wrap {
    box-sizing: content-box;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.codepen-wrap iframe {
    width: 100%;
}

.list--large-icons li {
    display: block;
    min-height: 3.2rem;
    padding-left: 4.8rem;
    position: relative;
}

.list--large-icons a::before {
    font-size: 3.2rem;
    left: 0em;
    line-height: 1;
    position: absolute;
    top: 0em;
}

.list--large-icons__text {
    margin-top: 0.8rem;
}

.placement__icon {
    background: #f4f4f4;
    color: #0078d7;
    display: block;
    padding-top: 61%;
    position: relative;
    width: 100%;
}

.placement__icon svg, .placement__icon::before {
    left: 50%;
    margin-left: -2.4rem;
    margin-top: -2.4rem;
    position: absolute;
    top: 50%;
}

.placement__icon::before {
    font-size: 4.8rem;
    line-height: 1;
}

.placement__icon svg {
    fill: #0078d7;
    height: 4.8rem;
    width: 4.8rem;
}

@media (min-width: 22em) and (max-width: 33.75em) {
    .placement__icon, .placement__icon img {
        float: left;
        margin-right: 2rem;
        padding-top: 33%;
        width: 33%;
    }
    
    .placement__icon a, .placement__icon p {
        overflow: hidden;
        width: auto;
    }
}

.hero .breadcrumb {
    left: 0;
    position: absolute;
    right: 0;
    text-align: left;
    top: 0;
    z-index: 4;
}

.hero .breadcrumb a {
    color: #0065b5;
}

.hero--dark .breadcrumb ul {
    color: #ccc;
}

.hero--dark .breadcrumb a {
    color: #fff;
}

.tile {
    padding: 2.4rem;
    position: relative;
}

a.tile__cta {
    margin: 1.2rem 0 0 -2.4rem;
}

a.tile__cta, a.tile__cta:active, a.tile__cta:hover {
    color: #000;
    background: 0 0;
    border-color: transparent;
}

a.tile__cta:hover {
    text-decoration: underline;
}

a.tile__cta::before {
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.list--icons svg {
    left: 0;
    position: absolute;
    top: 0.1em;
    width: 2.6rem;
}

.feed-item__source {
    margin-top: 0.4rem;
}

.feed-item__source a {
    color: inherit;
}

.footer__this-month .item {
    position: relative;
}

.item__title a::before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

@media (min-width: 48em) {
    .feed-item__title {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    .footer__copyright {
        border-left: 1px solid #e8e8e8;
        padding-left: 1.2rem;
    }
}

@media (max-width: 60em) and (min-width: 33.75em) {
    .layout .footer__feed {
        width: 100%;
    }
}

.footer {
    color: #666;
    margin: 0 0 1.2rem;
}

.footer a {
    color: #0064b6;
}

.footer a:hover {
    color: #666;
}

.footer .follow {
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
    margin-bottom: 2rem;
    padding-bottom: 1.2rem;
}

.follow--title, .list--follow {
    display: inline-block;
    margin-top: 1.2rem;
    vertical-align: middle;
}

.follow-title {
    margin-right: 2rem;
}

.list--follow {
    margin-left: 0em;
}

.list--follow li {
    display: inline-block;
    margin-top: 0em;
}

[class ^= social__icon--] {
    margin-right: 1rem;
}

[class ^= social__icon--]:hover {
    text-decoration: none;
}

[class ^= social__icon--] svg {
    fill: currentColor;
    height: 20px;
    width: 20px;
}

.social__icon--twitter svg {
    width: 25px;
}

.social__icon--stackoverflow svg {
    width: 16px;
}

.social__icon--github svg {
    width: 21px;
}

.footer__links {
    font-size: 1.2rem;
    margin: 1.2rem 0 0;
}

.footer__links li {
    margin-top: 0.8rem;
}

.footer__feedback {
    font-weight: 800;
}

.footer__copyright ,footer_text {
    display: inline-block;
    font-size: 1.2rem;
}

.footer__text::before {
    content: "\00a0\00b7\00a0";
}

@media (min-width: 33.75em) {
    .footer {
        margin: 0.8rem 0 2rem;
    }
    
    .footer .follow {
        margin-bottom: 0em;
        padding-bottom: 2rem;
    }
    
    .footer__links, .footer__links li {
        display: inline-block;
    }
    
    .footer__links li {
        margin-right: 1.2rem;
    }
    
    .footer__copyright, .footer__text {
        margin-top: 0.8rem;
    }
}

.meta-box {
    background: #f2f2f2;
    padding: 2.4rem;
}

.meta-box a:link, .meta-box a:visited {
    color: #006fc6;
}

.meta-box a:hover {
    text-decoration: underline;
}

.meta-box__section + .meta-box__section {
    margin-top: 3.2rem;
}

@media (min-width: 33.75em) {
    .meta-box {
        padding: 3.2rem;
    }
}

.pagination ul {
    max-width: 100%;
}

.pagination a, .pagination li, .pagination span {
    display: inline-block;
    margin: 0em;
    vertical-align: middle;
}

.pagination li + li {
    margin-left: 0.6rem;
}

.pagination [aria-current=page], .pagination a {
    color: inherit;
    padding: 0.4rem 1.1rem;
}

.pagination a:focus, .pagination a:hover {
    background: hsla(0, 0%, 0%, 0.1);
    color: inherit;
    text-decoration: none;
}

.pagination a:active {
    background: hsla(0, 0%, 0%, 0.3);
    outline: transparent;
}

.pagination [aria-current=page] {
    border: 1px solid #0078d4;
}

.pagination__next a, .pagination__prev a {
    padding: 0.3rem 1.1rem;
    position: relative;
}

.pagination__next a::after, .pagination__prev a::before {
    display: inline-block;
    vertical-align: middle;
}

.pagination__prev a::before {
    content: "\e76b";
    margin-right: 0.8rem;
}

.pagination__next a::after {
    content: "\e76c";
    margin-right: 0.8rem;
}

.pagination__next span, .pagination__prev span {
    display: inline-block;
    margin-top: -0.2rem;
    max-width: 16rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 37.5em) {
    .pagination li + li {
        margin-left: 0.3rem;
    }
    
    .pagination__next span, .pagination__prev span {
        position: absolute;
        clip: rect(0 0 0 0);
    }
    
    .pagination__prev a::before {
        margin-right: 0em;
    }
    
    .pagination__next a::after {
        margin-left: 0em;
    }
}

.content--inline-demo > iframe {
    border: 0;
    height: 90vh;
    width: 100%;
}

.pagination {
    margin-top: 3.2rem;
    width: 100%;
}

[required]:invalid:not(.dirty) {
    border-color: hsla(0, 0%, 0%, 0.4);
}

.demos-loading {
    opacity: 0.5;
}

.header__action, .page-header__actions .button, .page-header__actions button {
    margin-top: 0em;
}

.page-header__actions {
    margin-top: 3.2rem;
}

@media (min-width: 60em) {
    .page-header--has-action {
        align-items: center;
        display: flex;
    }
    
    .page-header__text {
        flex: 1;
        max-width: none;
        padding-right: 4.8rem;
    }
    
    .page-header__actions {
        margin-top: 0em;
    }
    
    .page-header__actions .button:not(.button--page-primary), .page-header__actions button:not(.button--page-primary) {
        margin-top: 0.4rem;
    }
}

.list--browse-demo-tags {
    column-count: 2;
    column-gap: 3.5rem;
    margin-left: 0;
    max-width: none;
    list-style: none;
}

.list-browse-demo-tags li {
    margin-top: 0.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (min-width: 60em) {
    .list--browse-demo-tags {
        column-count: 4;
    }
}

.list--brwose-demo-cats, .list--browse-demo-tags {
    margin-top: 3rem;
}

.testdrive--char-down {
    line-height: 1;
    vertical-align: bottom;
}

.testdrive--char-up {
    line-height: 1;
    vertical-align: top;
}

.section--browse--demos .button {
    width: 100%;
}

@media (min-width: 20em) {
    .section--browse--demos .button {
        width: auto;
    }
}

.demo__header {
    margin-top: 1.6rem;
}

.dmeo__header .section__header {
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
    padding-bottom: 2rem;
}

.demo__content {
    margin-top: 0em;
}

@media (min-width: 58em) {
    .demo__header {
        margin-top: 2.2rem;
    }
}

.demo-details__heading {
    font-size: 1.5rem;
    font-weight: 600;
}

* + .demo-details__heading {
    margin-top: 2.4rem;
}

.demo-details__heading + p, .demo-details__heading + ul {
    margin-top: 0.8rem;
}

.contributor__avatar {
    margin-right: 1.6rem;
}

.contributor__avatar, .contributor__name {
    display: inline-block;
    vertical-align: middle;
}

a:hover .contributor__name {
    text-decoration: underline;
}

.avatar--company {
    border-radius: 0;
}

.demo-details__cats li, .demo-details__tagss li {
    margin-top: 0.4rem;
}

.demo-details__share {
    margin-top: 1.2rem;
}

.demo-search {
    margin: 0em;
    max-width: 48rem;
    position: relative;
}

.demo-search input[type=search] {
    max-width: 90%;
}

[class *= demo-filter__] {
    display: inline-block;
}

demo-filter__button {
    margin-left: 2rem;
    margin-top: 0em;
}

.demo-results {
    border-top: 1px solid hsla(0, 0, 0, 0.2);
}

.button--search {
    font-size: 1.7rem;
    height: 3.8rem;
}

@media (min-width: 40em) {
    .demo-filter {
        align-items: baseline;
        display: flex;
        position: relative;
    }
    
    .demo-filter--left {
        flex: 1;
    }
    
    .demo-filter--right {
        margin-top: 0em;
        max-width: 32rem;
    }
}

.wrap-menu-button {
    display: inline-block;
    position: relative;
}

button[type=menu] + ul[role=menu] {
    position: absolute;
    top: 100%;
    z-index: 1;
}

button[type=menu] {
    background: 0;
    border: 0;
    color: hsla(0, 0%, 0%, 0.6);
    min-width: 0em;
    padding: 0.8rem;
}

button[type=menu]::after {
    color: #000;
    content: "";
    padding-left: 0.8rem;
}

button[type=menu]:hover {
    color: #000;
}

button[type=menu][disabled] {
    color: hsla(0, 0%, 0%, 0.2);
}

button[type=menu][disabled]::after {
    opacity: 0.2;
}

button[type=menu] + [role=menu], button[type=menu] + menu {
    background: #fff;
    border: 1px solid hsla(0, 0%, 0%, 0.1);
    list-style: none;
    margin: 0em;
    min-width: 29.6rem;
}

button[type=menu] + [role=menu] label, button[type=menu] + menu menuitem{
    background: hsla(0, 0%, 0%, 0.05);
    cursor: pointer;
    margin: 0em;
    padding: 1.2rem;
}

button[type=menu] + [role=menu] label:hover, button[type=menu] + menu menuitem:hover {
    background: hsla(0, 0%, 0%, 0.1);
}

button[type=menu] + [role=menu] label:active, button[type=menu] + menu menuitem:active {
    background: hsla(0, 0%, 0%, 0.3);
}

button[type=menu] + [role=menu] :checked + label, button[type=menu] + menu menuitem:checked {
    background: #0078d7;
    color: #fff;
}

button[type=menu] + [role=menu] input[disabled] + label, button[type=menu] + menu menuitem[disabled] {
    background: hsla(0, 0%, 0%, 0.05);
    color: hsla(0, 0%, 0%, 0.2);
    cursor: not-allowed;
}

button[type=menu] + [role=menu] li {
    margin: 0em;
}

button[type=menu] + [role=menu] input {
    opacity: 0;
}

button[type=menu] + [role=menu] label {
    display: block;
}

button[type=menu] + [role=menu] input:focus + label {
    outline: #000 dashed 1px;
}
