fieldset, img {
    border: 0em;
}

* {
    box-sizing: border-box;
    margin: 0em;
    padding: 0em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

*+audio, *+blockquote, *+dl, *+fieldset, *+img, *+label, *+old, *+p, *+pre, *+ul, *+video {
    margin-top: 2.4rem;
}

body {
    color: #000;
    font-size: 1.5em;
    line-height: 1.34;
    overflow-x: hidden;
}

.content > header .subtitle, .link--current, .link--current > a, .section__header .subtitle {
    color: blue;
}

html {
    font-size: 62.5%;
}

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
    margin-top: 4rem;
}

.heading, .headline, h1, h2 {
    letter-spacing: -0.01em;
}

.heading, .headline, .subcaption, .subheading, .title, caption, h1, h2, h3, h6 {
    font-weight: 200;
    line-height: 1.2;
}

.subtitle, .subtitle--alt, .title, h3, h4 {
    font-weight: 300;
}

.caption, .checkable-set, input[type=radio] + label, .checkable-set, input[type=checkbox] + label, .subcaption, h5, h6, thead th {
    font-weight: 400;
}

.headline {
    font-size: 4.6rem;
}

.heading, h1 {
    font-size: 3.4rem;
}

.subheading, h2 {
    font-size: 2.6rem;
}

.title, h3 {
    font-size: 2rem;
}

.subtitle, caption, h4 {
    font-size: 1.8rem;
}

.subtitle--alt {
    font-size: 1.6rem;
}

.caption, h5 {
    font-size: 1.2rem;
}

thead th {
    font-size: 1.2rem;
}

.subcaption, h6 {
    font-size: 1rem;
}

@media (min-width: 48em) {
    .headline {
        font-size: 6.2rem;
    }
    
    .heading, h1 {
        font-size: 4.6rem;
    }
    
    .subheading, h2 {
        font-size: 3.4rem;
    }
    
    .title, h3 {
        font-size: 2.4rem;
    }
    
    .subtitle, caption, h4 {
        font-size: 2rem;
    }
    
    .subtitle--alt {
        font-size: 1.8rem;
    }
    
    .caption, h5 {
        font-size: 1.3rem;
    }
    
    .subcaption, h6 {
        font-size: 1.1rem;
    }
}

li, p {
    max-width: 64rem;
}

.footer li, .footer p, .header li, .header p {
    max-width: none;
}

img, video {
    display: inline-block;
    height: auto;
    max-width: 100%;
}

.video-wrap {
    position: relative;
    box-sizing: content-box;
    padding-bottom: 56.25%;
    height: 0;
    max-width: 100%;
    overflow: hidden;
}

.video-wrap--youtube {
    padding-top: 30px;
}

* + .video-wrap {
    margin-top: 1.2rem;
}

@media (min-width: 33.75em) {
    * + .video-wrap {
        margin-top: 2rem;
    }
}

.video-wrap embed, .video-wrap iframe, .video-wrap object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

label {
    display: block;
}

input, select, textarea {
    width: 100%;
    max-width: 64rem;
    height: 3.6rem;
    border: 1px solid hsla(0, 0%, 0%, .6);
    padding: .7rem 1rem;
    background-color: hsla(0, 0%, 100%, .4)
}

textarea {
    height: auto;
    min-height: 3.6rem;
    resize: vertical;
}

label + input:not([type=radio]):not([type=checkbox]), select, textarea {
    margin-top: .7rem;
}

input:hover, select:hover, textarea:hover {
    border-color: hsla(0, 0%, 0%, .8);
    background-color: hsla(0, 0%, 100%, .6)
}

input:focus, select:focus, textarea:focus {
    border-color: #0078d7;
    background-color: #fff;
    outline: 0;
}

input:disabled, input[readonly], textarea:disabled, textarea[readonly] {
    border-color: transparent;
    background-color: hsla(0, 0%, 0%, .2);
    color: hsla(0, 0%, 0%, .2);
}

.button--search:disabled, input[type=radio]:disabled, input[type=checkbox]:disabled, input[type=range]:disabled {
    background: 0;
}

input:invalid, textarea:invalid {
    border-color: #e81123;
}

[type=search], select {
    padding-right: 3.4rem;
}

a.button, button {
    min-width: 12rem;
    max-width: 100%;
    border: 1px solid transparent;
    padding: .7rem 1.2rem;
    background-color: hsla(0, 0%, 0%, .2);
    color: #000;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    text-decoration: none;
}

.button:focus, .button:hover, button:focus, button:hover {
    border-color: hsla(0, 0%, 0%, .4)
}

.button--cta:hover, .button--primary:hover {
    border-color: hsla(0, 0%, 0%, .4)
}

.button--cta:hover, .button--primary:hover {
    background-color: #006cc2;
}

.button:active, button:active {
    border-color: transparent;
    background-color: hsla(0, 0%, 0%, .4);
}

.button--cta:active, .button--primary:active {
    background-color: #005497;
}

button:disabled, select:disabled {
    background-color: hsla(0, 0%, 0%, .2);
    color: hsla(0, 0%, 0%, .2);
    cursor: not-allowed;
    pointer-events: none;
    outline: 0;
}

* + .actions {
    margin-top: .8rem;
}

* + .actions a.button, * + .actions button {
    display: inline-block;
    margin-top: 1.6rem;
}

.button--search:active, .button--search:focus, a.button--cta, a.button--primary, button.button--cta, button.button--primary {
    background-color: #0078d7;
    color: #fff;
}

.button--icon, button--icon:active, .button--icon:hover, .button--icon[disabled], .button--search, .button--text, .button--text:active, .button--text:hover, .button--text[disabled] {
    padding: 0;
    border: 0;
    background: 0 0;
}

.button--icon, .button--icon:active, .button--icon:hover, .button--icon[disabled], .button--search {
    min-width: 0;
}

.button-text {
    text-align: inherit;
}

.button--text + .button--text {
    margin-left: 1.2rem;
}

.button--text:active {
    text-decoration: none;
}

.feature .button--cta:hover, .placement .button-cta:hover, .placement:hover .placement_title {
    text-decoration: underline;
}

.button--icon {
    height: 2rem;
    position: relative;
    text-indent: 100%;
    width: 4.4rem;
}

.button--icon::before {
    display: block;
    font-size: 2rem;
    height: 100%;
    left: 0;
    line-height: 1;
    position: absolute;
    text-indent: 0;
    top: 0;
    width: 100%;
}

[role=search], main {
    position: relative;
}

.button--icon:hover {
    color: hsla(0, 0%, 0%, .6);
}

.button--icon:active {
    color: hsla(0, 0%, 0%, .4);
}

.button--search {
    color: #7f7f7f;
    font-size: 1.6rem;
    height: 100%;
    position: absolute;
    transform: translate(-100%);
    width: 3.4rem;
}

.button--search::before {
    content: "\e721";
    font-family: PlatformIcons;
}

.accordion__toggle::after, [class *= icon--]::after, [class*=icon--]::before, a.button--cta::after, summary::after {
    font-family: PlatformIcons;
}

button.button--warning {
    background-color: #e81123;
    color: #fff;
}

a.button--cta {
    border-width: 2px;
    font-size: 1.3rem;
    letter-spacing: .1em;
    padding: .85rem 2.4rem;
    text-transform: uppercase;
}

a.button--cta::after {
    content: "\e76c";
    display: inline-block;
    margin: .1rem 0 0 .4rem;
    vertical-align: top;
}

select {
    appearance: none;
    border-radius: 0;
    background: url() right 1rem center/1.4rem .8rem no-repeat;
    overflow: hidden;
    text-indent: .01px;
}

select option:checked, select option:focus {
    background-color: #3a96dd;
    color: #fff;
}

select option, select:active {
    background-color: #fff;
    color: #000;
}

select option:active {
    background-color: #767676;
    color: #000;
}

select:disabled {
    border-color: hsla(0, 0%, 0%, .2);
    color: hsla(0, 0%, 0%, .6);
}

input[type=radio], input[type=checkbox] {
    height: 2rem;
    line-height: 2rem;
    position: absolute;
    width: 2rem;
}

input[type=radio] + label, input[type=checkbox] + label {
    display: table;
    padding-left: 3.2rem;
}

input[type=radio] + label::after, input[type=checkbox] + label::after {
    content: "";
    display: block;
}

.checkable-set input[type=radio], .checkable-set input[type=radio] + label, .checkable-set input[type=checkbox], .checkable-set input[type=checkbox] + label {
    margin-top: 1.2rem;
}

input[type=file] {
    border: 0;
    height: auto;
    outline: 0;
    padding-left: 0;
    padding-right: 0;
}

progress {
    border: 0;
    color: #0078d7;
    display: block;
    height: .4rem;
    width: 100%;
}

.breadcrumb ul, thead th {
    color: hsla(0, 0%, 0%, .6);
}

progress[value] {
    background-color: hsla(0, 0%, 0%, .2);
}

main {
    dispaly: block;
    margin: 0 auto 4.8rem;
}

hr {
    background: hsla(0, 0%, 0%, .2);
    border: 0;
    display: block;
    height: 1px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.container, hr {
    max-width: 144rem;
}

.section, hr {
    margin-top: 4.8rem;
}

* + .subsection, .content > header + .section, .section__header + .section__body, .subsection__body {
    margin-top: 2.4rem;
}

.content > header:first-child, main > .section:first-child {
    margin-top: 1.2rem;
}

.subsection__header {
    display: block;
}

[class$=header--alt] {
    border-bottom: 1px solid hsla(0, 0%, 0%, .2);
    padding-bottom: 1rem;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}

.container .container, .container hr {
    width: auto;
}

.container hr {
    margin-left: 0em;
    margin-right: 0em;
}

@media (min-width: 48em) {
    main {
        margin-bottom: 6rem;
    }
    
    .container > header, .section, hr {
        margin-top: 6rem;
    }
    
    * + .subsection, .content > header + .section, .section__header + .section__body, .subsection__body {
        margin-top: 3.2rem;
    }
}

@media (min-width: 58em) {
    .content > header:first-child, main > .section:first-child {
        margin-top: 6.4rem;
    }
    
    * + .subsection, .content > header + .section {
        margin-top: 4.8rem;
    }
    
    .container, hr {
        margin-left: auto;
        margin -right: auto;
        padding-left: 0em;
        padding-right: 0em;
        width: 90%;
    }
}

.container::after, .layout::after, module::after {
    clear: both;
    content: "";
    display: block;
}

.layout {
    margin-left: 0em;
    margin-right: 0em;
}

.module {
    margin-top: 2.4rem;
    width: 100%;
}

.module:first-child {
    margin-top: 0em;
}

.layout--equal .module:nth-last-child(1):first-child {
    margin-top: 2.4rem;
}

@media (min-width: 33.75em) {
    .layout {
        margin-left: -1.2rem;
        margin-right: -1.2rem;
    }
    
    .module {
        float: left;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }
}

@media (min-width: 48em) {
    .layout {
        margin-left: -1.6rem;
        margin-right: -1.6rem;
    }
    
    .module {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
    }
    
    .module--primary, .module--secondary {
        float: left;
        margin-top: 0em;
        width: 50%;
    }
    
    .layout--basic .module--primary, .layout--basic--alt .module--secondary, .layout--basic--offset .module--primary, .layout--basic--offset--alt .module--secondary {
        float: right;
    }
}
    
@media (min-width: 60em) {
    .layout--basic .module--primary, .layout--basic--alt .module--primary {
        width: 62.5%;
    }
    
    .layout--basic .module--secondary, .layout--basic--alt .module--secondary {
        width: 33.333%;
    }
    
    .layout--basic--offset .module-primary, .layout-basic--offset-alt .module--primary {
        width: 58.33%;
    }
    
    .layout--basic--offset .module--secondary, .layout--basic--offset--alt .module--secondary {
        width: 37.5%;
    }
}

@media (min-width: 48em) {
    [class *= layout--sidebar] > .module {
        margin-top: 0em;
    }
    
    [class *= layout--sidebar] > .module--secondary {
        width: 22rem;
    }
    
    [class *= layout--sidebar] > .module--primary {
        width: calc(100% - 26rem);
    }
    
    .layout--sidebar > .module--primary {
        float: right;
    }
    
    .layout--sidebar--alt > .module--primary {
        float: left;
    }
    
    .layout--sidebar--alt > .module--secondary {
        float: right;
    }
}

@media (min-width: 64em) {
    [class *= layout--sidebar] > .module--secondary {
        width: 28rem;
    }
    
    [class *= layout--sidebar] > .module--primary {
        width: calc(100% - 34rem);
    }
}

@media (min-width: 33.75em) {
    .layout--equal .module:nth-last-child(2):first-child, .layout--equal .module:nth-last-child(2):first-child ~ .module {
        margin-top : 0em;
        width: 50%;
    }
}

@media (min-width: 60em) {
    .layout--equal .module:nth-last-child(3):first-child, .layout--equal .module:nth-last-child(3):first-child ~ .module {
        margin-top: 0em;
        width: 33.33%;
    }
    
    .layout--equal .module:nth-last-child(4):first-child, .layout--equal .module:nth-last-child(4):first-child ~ .module {
        margin-top: 0em;
        width: 25%;
    }
}

@media (min-width: 33.75em) and (max-width: 60em) {
    .layout--equal .module:nth-last-child(3):first-child ~ .module {
        margin-top: 3.2rem;
    }
    
    .layout--equal .module:nth-last-child(4):first-child, .layout--equal .module:nth-last-child(4):first-child ~ .module {
        margin-top: 3.2rem;
        width: 50%;
    }
    
    .layout--equal .module:nth-last-child(4):first-child ~ .module:nth-child(3) {
        clear: left;
    }
    
    .layout--equal .module:nth-last-child(3):first-child, .layout--equal .module:nth-last-child(4):first-child, .layout--equal .module:nth-last-child(4):first-child ~ .module:nth-child(2) {
        margin-top: 0em;
    }
}

@media (min-width: 33.75em) {
    .layout--halves .module, .layout--thirds .module {
        margin-top: 3.2rem;
        width: 50%;
    }
    
    .layout--halves .module:nth-child(-n + 2), .layout--thirds .module:nth-child(-n + 2) {
        margin-top: 0em;
    }
    
    .layout--halves .module:nth-child(odd), .layout--thirds .module:nth-child(odd) {
        clear: left;
    }
}

@media (min-width: 60em) {
    .layout--equal .module:nth-last-child(1):first-child {
        width: 50%;
    }
    
    .layout--thirds .module {
        width: 33.33%;
    }
    
    .layout--quarters .module {
        width: 25%;
    }
    
    .layout--quarters .module:nth-child(-n + 4), .layout--thirds .module:nth-child(-n + 3) {
        margin-top: 0em;
    }
    
    .layout--thirds .module:nth-child(odd) {
        clear: none;
    }
    
    .layout--quarters .module:nth-child(4n + 1), .layout--thirds .module:nth-child(3n + 1) {
        clear: left;
    }
}

@media (min-width: 33.75em) and (max-width: 60em) {
    .layout--thirds .module {
        margin-top: 3.2rem;
    }
    
    .layout--quarters .module {
        margin-top: 3.2rem;
        width: 50%;
    }
    
    .layout--thirds .module:nth-child(-n + 2) .layout--quarters .module:nth-child(-n + 2) {
        margin-top: 0em;
    }
    
    .layout-quarters .module:nth-child(odd) {
        clear: left;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0em;
    width: 100%;
}

caption, th {
    text-align: left;
}

td, th {
    padding: 1rem 1.2rem;
    vertical-align: top;
}

thead th {
    vertical-align: bottom;
}

tbody tr:nth-child(odd) {
    background-color: hsla(0, 0%, 0%, .05);
}

.table--overflow {
    overflow-x: auto;
    width: 100%;
}

* + table--overflow {
    margin-top: 2.4rem;
}

.cell--numerical {
    text-align: right;
}

ol, ul {
    margin-left: 1.9rem;
}

* + li {
    margin-top: 1.6rem;
}

.list--avatars, nav ol, nav ul {
    list-style: none;
    margin-left: 0;
}

.avatar {
    border-radius: 50%;
    display: inline-block;
    height: auto;
    overflow: hidden;
    width: 4.8rem;
}

avatar img {
    display: block;
}

.list--avatars {
    margin-left: -1.2rem;
}

.list--avatars > li {
    display: inline-block;
    margin: 0 0 1.2rem 1.2rem;
}

.rendered-result, pre {
    overflow-x: auto;
    padding: 2.4rem;
    width: 100%;
}

pre {
    background: hsla(0, 0%, 0%, .03);
    border: 2px solid hsla(0, 0%, 0%, .03);
}

.rendered-result {
    border: 2px solid hsla(0, 0%, 0%, .1);
}

* + .rendered-result {
    margin-top: 2.4rem;
}

code {
    font-family: Consolas, Menlo, monospace;
    tab-size: 4;
}

.gist-file {
    border-bottom: 2px solid #ddd;
    border-width: 2px;
}

.gist-data {
    border-bottom-width: 2px;
}

.visually-hidden {
    clip: rect(0, 0, 0, 0);
    position: absolute;
}

.clear::after {
    clear: both;
    content: "";
    display: block;
}

.bare {
    margin-left: 0em;
}

.breadcrumb {
    margin-top: 1.2rem;
}
.breadcrumb + header {
    margin-top: 1.6rem;
}

.breadcrumb li {
    display: inline;
    font-size: 1.3rem;
    margin-right: 0.8rem;
}

.breadcrumb li + li::before {
    content: "\\";
    font-size: 1.5rem;
    margin-right: 0.8rem;
}

@media (min-width: 58em) {
    .breadcrumb + header {
        margin-top: 2.2rem;
    }
}

.feature, .hero {
    background: #e6e6e6;
    text-align: center;
}

.feature__text, .hero__container {
    margin: 0 auto;
    padding: 3.2rem 0;
    width: 90%;
}

.feature img, .feature picture, .feature__container, .hero img, .hero picture, .hero__bg {
    width: 100%;
}

.feature__title, .hero_title {
    font-size: 2rem;
    font-weight: 200;
    line-height: 1.2px;
}

.feature--dark, .hero--dark {
    background: #333;
    color: #fff;
}

@media (min-width: 48em) {
    .feature, .hero {
        overflow: hidden;
        position: relative;
        text-align: left;
    }
    
    .feature__container, .hero.theme-dark .hero__bg::before, .hero__bg, .hero__bg picture, .hero__container {
        bottom: 0em;
        left: 0em;
        position: absolute;
        right: 0em;
        top: 0em;
    }
    
    .feature__container, .hero_container {
        height: 100%;
        margin: 0 auto;
        max-width: 144rem;
        padding: 0em;
    }
    
    .feature__media, .feature__text, .hero__bg img, .hero__content, .hero__media, .hero__text {
        position: relative;
        top: 50%;
        transform: perspective(1px) translateY(-50%);
    }
    
    .feature__title, .hero__title {
        font-size: 2.4rem;
        line-height: 1.17px;
    }
}

@media (min-width: 67.75em) {
    .feature__title, .hero__title {
        font-size: 3.4rem;
        font-weight: 100px;
    }
}

.hero img {
    margin-top: 0em;
}

.hero__subtitle {
    margin-top: 0.8rem;
}

.hero .button--cta {
    background: #000;
    margin-top: 2.4rem;
}

.hero .button--cta:hover {
    background: #333;
}

.hero .button--cta:active {
    background: #666;
    border-color: transparent;
}

.hero--dark .button--cta {
    background: #fff;
    color: #000;
}

.hero--dark .button--cta:hover {
    background: #ccc;
    border-color: #fff;
}

.hero--dark .button--cta:active {
    background: #999;
}

@media (min-width: 48em) {
    .hero {
        padding: 56.25% 5% 0;
    }
    
    .hero__content {
        max-width: 44rem;
        position: relative;
        z-index: 3;
    }
    
    .hero__subtitle {
        font-size: 1.8rem;
        font-weight: 200;
        line-height: 1.333;
    }
    
    .hero__bg picture {
        height: 100%;
    }
    
    .hero--dark .hero__bg::before {
        background: hsla(0, 0%, 0%, 0.4);
        content: "";
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
    }
    
    .hero__media, .hero__text {
        width: 50%;
    }
    
    .hero__media {
        float: right;
        padding-left: 1.6rem;
    }
    
    .hero__text {
        float: left;
        padding-right: 1.6rem;
    }
}

@media (min-width: 67.75em) {
    .hero {
        padding-top: 37.5%;
    }
    
    .hero__content {
        max-width: 52rem;
    }
    
    .hero__media {
        padding-left: 3.2rem;
    }
    
    .hero__text {
        padding-right: 3.2.rem;
    }
}

.feature__media img, .feature__media picture {
    display: block;
}

.feature__text {
    padding: 2.4rem 0;
}

.feature .button--cta {
    margin-top: 1.2rem;
    padding-left: 0em;
}

.feature .button--cta, .feature .button-cta:active, .feature .button-cta:hover {
    background: 0 0;
    border-color: transparent;
    color: #000;
}

.feature--dark a.button--cta {
    color: #fff;
}

@media (min-width: 48em) {
    .feature {
        max-height: 40rem;
        padding-top: 30.8%;
    }
    
    .feature__media, .feature__text {
        width: 50%;
    }
    
    .feature__media {
        float: right;
        max-width: 64.8rem;
    }
    
    .feature__text {
        float: left;
        margin: 0em;
        padding: 0 3.6rem;
    }
    
    .feature:nth-last-of-type(odd) .feature__media {
        float: left;
    }
    
    .feature:nth-last-of-type(odd) .feature__text {
        float: right;
    }
}

@media (min-width: 81em) {
    .feature {
        height: 40rem;
        padding: 0em;
    }
}

.placement {
    position: relative;
}

.placement__title {
    margin-top: 1.2rem;
}

.placement__text {
    margin-top: 0.4rem;
}

.placement .button--cta {
    padding-left: 0em;
}

.placement .button--cta, .placement .button--cta:active, .placement .button--cta:hover {
    background: 0 0;
    border: 0;
    color: #0078d7;
}

.placement .button--cta::before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.form-search {
    position: relative;
}

.form-search input[type=search] {
    background: #fff;
    border: 1px solid #a9a9a9;
    height: 3.6rem;
    margin: 0.7rem 0;
    padding: 0.4rem 3.3rem 0.4rem 0.8rem;
}

.button-search, .header__toggle {
    border: 0;
    line-height: 1;
    min-width: 0em;
    padding: 1.35rem 1.15rem;
    position: absolute;
    top: 0;
}






