body {
   background: #f8dbc9;
}

.puzzle-game-wrapper {
   background: linear-gradient(to bottom, #473f87, #d35e4e);
   padding: 2em;
}

.puzzle-title {
   color: #fff;
}

.button--primary {
   margin-top: 1.5em;
}

.button.button--primary {
   background-color: #fff;
   color: #006cc2;
}

.puzzle-game {
   background: rgba(0, 0, 0, 0.5);
   display: grid;
   grid: 1fr 1fr 1fr / 1fr 1fr 1fr;
   margin: 2em auto;
   outline: 5px solid #7a8af9;
}

.puzzle-game-image {
   margin: 0em;
   outline: 1px solid #000;
   outline-offset: -1px;
   width: 100%;
}

.hidden-piece {
   opacity: 0;
}
